<div class="notifications">
    <div class="left">
        <i class="fa-solid fa-signal"></i> 20:45 <i class="fa-solid fa-clock"></i> <i class="fa-solid fa-bell"></i>  <i class="fa-solid fa-wifi"></i>
    </div>
</div>