.home {
    h2 {
        margin-top: 10px;
    }
    .subtitle {
        margin: 5px 0px;
        font-size: 15px;
        font-weight: 590;
    }
    hr {
        background: $color5;
        border: 0px;
        height: 0.5px;
        margin: 10px 0px;
    }
}