.results {
    padding-top: 10px;

    .return-btn {
        //margin-top: 10px;
    }

    h2 {}

    .subtitle {
        margin: 5px 0px;
        font-size: 15px;
        font-weight: 590;
    }

    hr {
        background: $color5;
        border: 0px;
        height: 0.5px;
        margin: 10px 0px;
    }
}