.search {
    h2 {
        margin-top: 10px;
    }
    .subtitle {
        margin: 5px 0px;
        font-size: 15px;
        font-weight: 590;
    }
    hr {
        background: $color5;
        border: 0px;
        height: 0.5px;
        margin: 10px 0px;
    }

    .search-panel {
        padding: 10px;
        p {
            font-size: 16px;
            margin: 5px 0px;
        }
        select {
            width: 100%;
            margin: 2.5px 0px;
            padding: 10px;
            border: 1px solid rgb(204, 204, 204);
            border-radius: 5px;
            //font-size: 20px;
            font-family: inherit;
            //font-weight: bold;
            //background: $color3;
            transition: 0.3s;
            //color: white;
            //font-weight: bold;
            &.password {
    
            }
            &::placeholder {
                //color: white;
                //font-weight: bold;
            }
            &:focus {
                outline-width: 0;
                border: 1px solid $color3;
            }
        }
    }
}