<div class="history">
    <h2 class="fs30px">History</h2>
    <p class="subtitle">Keep the track of your places!</p>
    <hr>
    <div class="all-track-places" id="all-track-places">
        <div class="place">
            <a href="/info-place" class="infoPlace">
                <img src="/img/reviews/place/junco.jpg" alt="">
                <div class="data">
                    <h3>El Junco</h3>
                    <p>Tue. Feb 10th - 12:30</p>
                </div>
                <i class="fa-solid fa-heart active"></i>
            </a>
            <i class="fa-solid fa-trash"></i>
        </div>
        <div class="place">
            <a href="/info-place" class="infoPlace">
                <img src="/img/reviews/place/iguazu.jpg" alt="">
                <div class="data">
                    <h3>Yguazu</h3>
                    <p>Fri. Mar 1st - 14:30</p>
                </div>
                <i class="fa-solid fa-heart"></i>
            </a>
            <i class="fa-solid fa-trash"></i>
        </div>
        <div class="place">
            <a href="/info-place" class="infoPlace">
                <img src="/img/reviews/place/pascua.jpg" alt="">
                <div class="data">
                    <h3>Isla de Pascua</h3>
                    <p>Fri. Mar 10th - 17:19</p>
                </div>
                <i class="fa-solid fa-heart"></i>
            </a>
            <i class="fa-solid fa-trash"></i>
        </div>
    </div>
</div>

<script>
    document.getElementById("all-track-places").addEventListener("click", event => {
        if (event.target.classList.contains("fa-trash")) {
            event.target.parentElement.remove();
        }
    });
</script>