<div class="home">
    <h2 class="fs30px">Home</h2>
    <p class="subtitle">The most visited places!</p>
    <hr>
    <div class="places-list">
        <a class="place-box" href="info-place">
            <img src="/img/places/junco-folder.jpg" alt="">
            <div class="details">
                <div class="left">
                    <p class="placeName">Nature Park</p>
                    <p class="distance">1h - 1h 30 min</p>
                    <p class="reviews">Reviews (50)</p>
                </div>
                <div class="right">
                    <div class="top">
                        <i class="fa-solid fa-heart active"></i> <p class="review"><i class="fa-solid fa-star"></i><strong>5.0</strong></p>
                    </div>    
                </div>

            </div>
        </a>
        <a class="place-box" href="info-place2">
            <img src="/img/places/pascua-folder.jpg" alt="">
            <div class="details">
                <div class="left">
                    <p class="placeName">Cress Creek</p>
                    <p class="distance">2h - 3h</p>
                    <p class="reviews">Reviews (30)</p>
                </div>
                <div class="right">
                    <div class="top">
                        <i class="fa-solid fa-heart"></i> <p class="review"><i class="fa-solid fa-star"></i><strong>4.7</strong></p>
                    </div>    
                </div>
            </div>
        </a>
        <a class="place-box" href="info-place3">
            <img src="/img/places/yguazu-folder.jpg" alt="">
            <div class="details">
                <div class="left">
                    <p class="placeName">Kelly Canyon Resort</p>
                    <p class="distance">7h 30 min</p>
                    <p class="reviews">Reviews (20)</p>
                </div>
                <div class="right">
                    <div class="top">
                        <i class="fa-solid fa-heart active"></i> <p class="review"><i class="fa-solid fa-star"></i><strong>4.6</strong></p>
                    </div>    
                </div>
            </div>
        </a>
    </div>
</div>