<div class="info-place">
    <a href="/home" class="return-btn fs25px"><i class="fa-solid fa-chevron-left"></i></a>
    <img src="/img/places/Cress_creek.jpg" alt="" class="dblock mauto w100p">
    <div class="place-headers">
        <div class="left">
            <h2 class="fs28px">Cress Creek</h2>
            <p class="subtitle">2h - 3h</p>
        </div>
        <div class="right">
            <div class="top">
                <i class="fa-solid fa-heart active" id="heart"></i> <p class="review"><i class="fa-solid fa-star"></i><strong>4.7</strong></p>
            </div>
            <!-- <a href="/" class="book-btn">Book</a> -->
        </div>
    </div>
    <hr>
    <p class="place-description">This hike on a paved sidewalk is relatively short, about 1. 25 miles, and makes a loop. Keep your eyes peeled as you’ll likely see deer, rabbits, small lizards.</p>
    <hr>
    <h3 class="tac"><i class="fa-solid fa-location-dot"></i> Location</h3>
    <p class="mt5px tac"><strong>Snake River Rd, Rexburg, ID 83440</strong></p>
    <a href="map2" class="normal-btn"><i class="fa-solid fa-location-arrow"></i> Directions</a>
    <hr>
    <h3 class="tac"><i class="fa-solid fa-users"></i> Reviews (30)</h3>
    <div class="flex-s-a">
        <a href="new-review" class="login-register-btn"><i class="fa-solid fa-plus"></i> Add</a>
        <a href="reviews" class="login-register-btn"><i class="fa-solid fa-circle-info"></i> Read</a>

    </div>
</div>

<script>
    document.getElementById("heart").addEventListener("click", event => {
        if (event.target.classList.contains("active")) {
            event.target.classList.remove("active");
        } else {
            event.target.classList.add("active");
        }
    });
</script>