<div class="login">
   <div class="logo">
       <img src="/img/logo.png" alt="">
       <h1 class="fs35px">EventHub</h1>
   </div>
   <h2 class="fs30px">Login</h2>
   <form class="form" autocomplete="off" autocomplete="chrome-off">
       <input type="text" placeholder="Your E-mail" autocomplete="off">
       <input type="password" placeholder="Your Password" autocomplete="" class="password">
       <p class="tar mt5px"><a href="/recover">Forget your password?</a></p>
       <div class="check-container">
        <input type="checkbox" id="cbox2" value="second_checkbox"> <label for="cbox2">Stay logged in
    </div>
   </form>
   <div class="login-bnts">
       <a href="home"><i class="fa-solid fa-right-to-bracket"></i>&nbsp; Login</a>
       <a href="home"><i class="fa-brands fa-facebook-f"></i>&nbsp; Facebook</a>
   </div>
   <a href="register" class="login-register-btn"><i class="fa-solid fa-user-plus"></i> Create Account</a>
</div>