<div class="mapPage">
    <a href="/info-place2" class="return-btn fs25px"><i class="fa-solid fa-chevron-left"></i></a>
    <h2 class="fs30px">Cress Creek</h2>
    <p class="subtitle">Snake River Rd, Rexburg, ID 83440</p>
    <hr>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2886.471756285357!2d-111.72033608450204!3d43.659157579121064!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x535470b69dae81ed%3A0xcd256a07e6138914!2sCress%20Creek%20Nature%20Trail!5e0!3m2!1ses-419!2sec!4v1648342047240!5m2!1ses-419!2sec" allowfullscreen="" loading="lazy" class="mapLocation"></iframe>
    <div class="login-bnts">
        <a onclick="downloadMap()"><i class="fa-solid fa-download"></i></a>
        <a href="saved-maps"><i class="fa-solid fa-globe"></i>&nbsp; Downloaded Maps</a>
    </div>
</div>

<script>
    function downloadMap() {
        let btn = event.target;
        if (btn.classList.contains("active")) {
            btn.classList.remove("active");
            //btn.innerHTML = `<i class="fa-solid fa-download"></i>&nbsp; Download`;
        } else {
            btn.classList.add("active");
            //btn.innerHTML = `Downloaded`;
        }
    }
</script>