<div class="mapPage">
    <a href="/info-place3" class="return-btn fs25px"><i class="fa-solid fa-chevron-left"></i></a>
    <h2 class="fs30px">Kelly Canyon</h2>
    <p class="subtitle">5488 Kelly Canyon Rd, Ririe, ID 83443</p>
    <hr>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7933.480991066437!2d-111.63392582277152!3d43.646104527430516!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x535478370cff6f11%3A0x36c86bfc27d7bb69!2sKelly%20Canyon%20Resort!5e0!3m2!1ses-419!2sec!4v1648342180486!5m2!1ses-419!2sec" allowfullscreen="" loading="lazy" class="mapLocation"></iframe>
    <div class="login-bnts">
        <a onclick="downloadMap()"><i class="fa-solid fa-download"></i></a>
        <a href="saved-maps"><i class="fa-solid fa-globe"></i>&nbsp; Downloaded Maps</a>
    </div>
</div>

<script>
    function downloadMap() {
        let btn = event.target;
        if (btn.classList.contains("active")) {
            btn.classList.remove("active");
            //btn.innerHTML = `<i class="fa-solid fa-download"></i>&nbsp; Download`;
        } else {
            btn.classList.add("active");
            //btn.innerHTML = `Downloaded`;
        }
    }
</script>