<div class="recover">
    <div class="logo">
        <img src="/img/logo.png" alt="">
        <h1 class="fs16px">EventHub</h1>
    </div>
    <a href="/" class="return-btn fs25px"><i class="fa-solid fa-chevron-left"></i></a>
    <h2 class="fs30px">Recover Password</h2>
    <br>
    <p class="tac tbold subtitle mb15px">Please enter your email</p>
    <form class="form" autocomplete="off" autocomplete="chrome-off">
        <input type="text" placeholder="Your E-mail" autocomplete="off">
    </form>
    <a href="/" class="normal-btn"><i class="fa-solid fa-key"></i> Recover</a>
 </div>