<div class="register">
    <div class="logo">
        <img src="/img/logo.png" alt="">
        <h1 class="fs16px">EventHub</h1>
    </div>
    <a href="/" class="return-btn fs25px"><i class="fa-solid fa-chevron-left"></i></a>
    <h2 class="fs30px">Register</h2>
    <form class="form" autocomplete="off" autocomplete="chrome-off">
        <input type="text" placeholder="Your Name" autocomplete="off">
        <input type="text" placeholder="Your E-mail" autocomplete="off">
        <input type="password" placeholder="Your Password" autocomplete="" class="password">
        <input type="password" placeholder="Repeat Password" autocomplete="" class="password">
        <div class="check-container">
            <input type="checkbox" id="cbox2" value="second_checkbox"> <label for="cbox2">Would you like to receive emails about activities in your area?</label>
        </div>
    </form>
    <a href="/" class="normal-btn"><i class="fa-solid fa-user-plus"></i> Create Account</a>
 </div>