<div class="reviews">
    <a href="/info-place" class="return-btn fs25px"><i class="fa-solid fa-chevron-left"></i></a>
    <h2 class="fs30px">Reviews</h2>
    <hr>
    <a href="new-review" class="normal-btn">Add Review <i class="fa-solid fa-plus"></i></a>
    <div class="reviews-container">
        <div class="review">
            <div class="user">
                <img src="/img/reviews/user1.jpg" alt="">
                <h3>Sofia Carson</h3>
            </div>
            <div class="stars">
                <i class="fa-solid fa-star active"></i>
                <i class="fa-solid fa-star active"></i>
                <i class="fa-solid fa-star active"></i>
                <i class="fa-solid fa-star active"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <div class="reviewTxt">"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam totam sed recusandae magnam fugit quam ex, beatae dolorum quasi iusto!" <span>Mar 2, 2022</span></div>
            <div class="pictures-flex">
                <img src="/img/reviews/pics/p1.jpg" alt="">
                <img src="/img/reviews/pics/p3.jpg" alt="">
            </div>
        </div>
        <div class="review">
            <div class="user">
                <img src="/img/reviews/user2.jpg" alt="">
                <h3>Mike Roberts</h3>
            </div>
            <div class="stars">
                <i class="fa-solid fa-star active"></i>
                <i class="fa-solid fa-star active"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <div class="reviewTxt">"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam totam sed recusandae magnam fugit quam ex, beatae dolorum quasi iusto!" <span>Mar 6, 2022</span></div>
            <div class="pictures-flex">
                <img src="/img/reviews/pics/p2.jpg" alt="">
                <img src="/img/reviews/pics/p4.jpg" alt="">
            </div>
        </div>
    </div>
</div>