<div class="history">
    <h2 class="fs30px">Favorites</h2>
    <p class="subtitle">Your favorite places!</p>
    <hr>
    <div class="all-track-places" id="all-track-places">
        <div class="place">
            <a href="/info-place" class="infoPlace">
                <img src="/img/reviews/place/junco.jpg" alt="">
                <div class="data">
                    <h3>El Junco</h3>
                    <p>Tue. Feb 10th - 12:30</p>
                </div>
                <i class="fa-solid fa-heart active"></i>
            </a>
        </div>
    </div>
</div>