<div class="search">
    <h2 class="fs30px">Search</h2>
    <p class="subtitle">Find available activities!</p>
    <hr>
    <div class="search-panel">
        <p><strong>Find activities within:</strong></p>
        <select name="" id="">
            <option value="">1 mile</option>
            <option value="">5 miles</option>
            <option value="">10 miles</option>
            <option value="">25 miles</option>
            <option value="">50 miles</option>
            <option value="">100 miles</option>
        </select>
        <p><strong>Filter activities within your area by:</strong></p>
        <select name="" id="">
            <option value="">Rating</option>
            <option value="">Booking available</option>
            <option value="">Walking</option>
            <option value="">Family Spaces</option>
            <option value="">Stores</option>
        </select>
        <p><strong>Filter activities rated at least:</strong></p>
        <select name="" id="">
            <option value="">5 Stars</option>
            <option value="">4 Stars</option>
            <option value="">3 Stars</option>
            <option value="">2 Stars</option>
            <option value="">1 Stars</option>
        </select>
    </div>
    <a href="results" class="normal-btn"><i class="fa-solid fa-magnifying-glass"></i> Find</a>
</div>